@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.woff") format("woff");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.eot");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.svg") format("svg");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.woff") format("woff");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.eot");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.svg") format("svg");
}

$primColor: #0d0d0d;
$secColor: #fff;

body {
	overflow: hidden;
	font-size: 16px;
}
.chart-wrapper {
	width: 99.1%;
	height: 70%;
	min-height: 500px;
	background-color: $primColor;
	position: absolute;
}
.pieChart{
  width: 99.1%;
	height: 100%;
  margin-top: -50px;
}

.wrapper{
 	height: 60vh;
 	min-height: 500px;
 }

 .meningbutton{
 	position:relative;
 	top: 50px;
 	margin-bottom: 100px;

 }
#meningvraag{
		 margin-top: 40px;
}

path {
	stroke: $primColor;
	/* stroke-width: 5px; */
	cursor: pointer;
	transition: fill 250ms;
	&:hover {
		/* stroke-width: 10px; */
		fill: $secColor;
	}
}

text {
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: .5px;
}

polyline {
	fill: none;
	stroke: $secColor;
	stroke-width: 2px;
	stroke-dasharray: 5px;
}
button {
  top: 20px;
  text-transform: uppercase;
  outline: none;
  font-size: 2em;
  background-color: transparent;
	border: none;
	color: $secColor;
	letter-spacing: 1px;
	transition: all 250ms;
	&:hover {
		background-color: $secColor;
		color: $primColor;
	}
	&:active {
		opacity: 0.5;
	}
}
.prevbutton, .nextbutton{
	position: absolute;
	top: 250px;
	font-family: sun500;
}
h1{
	font-family: AntwerpTall;
}
.nextbutton{
	right:10px;
	color:#CF0139;
}
.prevbutton{
	left:20px;
	color: #019882;
}
#Graphdata{
	display: none;
}
@media (max-width: 900px){
  .hidebutton{
    display: none;
  }
}
