h2 {   
    font-family: Open Sans;
    font-weight: bold;
    font-size: 30px;}
.fa-calendar {
    padding:0.2em 1em 0.2em 1em;
}
h6 {   
    font-family: Droid Serif, serif;
    color: #7f8c97;
    font-size: 15px;
}
h5 {    
    font-family: Droid Serif, serif;
    color: #7f8c97;
    font-size: 15px;
}
h3 
{
    font-family: Droid Serif, serif;
    color: #7f8c97;
    font-size: 15px;
}
.info {
    margin-top:50px;
    font-family: Open Sans;
    
}
.fase-text {
    margin-top:50px;
}    
.bg-fase:nth-child(even) {background-color: #DBDBDB;
    margin-left: -381px;
    margin-right: -381px;
    padding-left:381px;
    padding-right:381px;
}
.fase-date {
    margin-top:20px;

}
.bg-fase {
    position:relative;
    min-height:400px !important;
}
.bg-fase:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px #DBDBDB;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.bg-fase:nth-child(odd):after {
     border-top: solid 50px #fff;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    z-index:10;
}
.bg-fase:last-child:after {

     display: none;;
}
.project-info {
    margin-left:15%;
    width: 70%;
    min-height:320px;
}
    
.uitlegcontainer {
    width: 100%;
    overflow-x: hidden;
}

.uitleg {
    width: 70%;
    margin-left: 15%;
}
.align {
    width:250px;
    text-align: left;
}

