.reactieContainer {
	 position:relative;
	 padding: 2em, 0;
	 margin-top:2em;
	 margin-bottom: 2em;
	 float:none;
	 margin:0,auto;
	 width: 82%;

}
.reactieBody {
	 margin-top:0;
	 position:relative;
	 margin:2em,0;
	 margin-left:5%;
}
.comment_body h3 {
	font-family: Open Sans;
	font-weight: bold;
	font-size:30px;
}
.comment_body p {
	font-family: Droid Serif, serif;
    color: #7f8c97;
    font-size:15px;
}
.comment_body h5 {
	font-family: Droid Serif, serif;
    color: #a7bad4;
    margin-top:20px;
}
 .comment_body h6 {

   font-family: Droid Serif, serif;
    color: #a7bad4;
    margin-top:10px;
}
hr {
	border-top:1px solid #a7bad4;
	padding-top:-20px;
	width:100%;
}
.bannerReactie {
	text-align:center;
	width:100%;
	margin-top: 4em;
}
.bannerReactie img {
	margin-bottom:15px;
	width:50%;
}
.btn-reageer {
	margin-bottom: 2em;
}
#sterren {
	 margin:1em;
	 height:50px;
}
#onderwerp {
	 margin:1em;
	 height:50px;
}
#mening {
	 margin:1em;
	 height:150px;
}

.input-field {

height:50px;
display:inline-block;
margin:1em;
padding:0;



}
.rating {
	float:right;
}
#rating {

float:none;
margin:auto;
display:table;
margin-top:0;
}
#rating > span {
	font-size:40px;
}
