@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.woff") format("woff");
}
@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.eot");
}
@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.svg") format("svg");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.woff") format("woff");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.eot");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.svg") format("svg");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.woff") format("woff");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.eot");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.svg") format("svg");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.woff") format("woff");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.eot");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.svg") format("svg");
}

.titelpage , .tile .title{
font-family: AntwerpREG, Verdana, sans-serif;

}
 {
font-family: sunCd, Verdana, sans-serif;

}
.navbar li a, .navbar li{
    font-family: sun500, Verdana, sans-serif;
}


.titelpage:hover{
  text-decoration: none;
}

.navbar{
  background-color:#CF0039; /* #DA291C; */
  border-radius: 0px;
  height: 100px;
}

.navbar img{
  height: 98px;
  padding-left: 5px;
  padding-right: 7px;
  border-right: 2px white solid;
}
#welcome{
  margin-top: 15px;
  margin-right: 20px;
}

.switch-toggle {
  margin-bottom: 20px;
  border: 2px solid #38A3D4;

}
.switch-toggle label {
  outline-color: rgba(255, 255, 255, 0);
}


.titelpage{
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  font-size:25px;
  margin-left: 20px;
  margin-top: 0px;
}
.navbar a, .navbar li {
  color:white;
}
.navbar li{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size:18px;

}

.navbar li:hover a{
  background-color:#CF0039;
  border-bottom: 2px solid white;
}
.navbar-right{
  margin-right: 30px;

}
.allTiles{
  min-height: 83.1vh;
}
.imgtile{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Tile1{

  background-image: url(../img/mas.jpg);

}
.purple{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.purple:hover{
  background-image: none;
  background-color: #840B55;
}
.Tile2{

  background-image: url(../img/kaaien523d9eb14a7d9.jpg);

}
.red{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.red:hover{
  background-image: none;
  background-color: #DA291C;

}
.expand {
   transition: all .3s ease-in-out;
}
.expand:hover {
  transform: scale(1.05,1.05);
   -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
  height:auto;
}
.Tile3{

  background-image: url(../img/kathedraal.jpg);

}
.orange{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.orange:hover{
  background-image: none;
  background-color: #F18A00;
}
.Tile4{

  background-image: url(../img/steen.jpg);

}
.green{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.green:hover{
  background-image: none;
  background-color: #4AA32C;
}
.Tile5{
  background-image: url(../img/station.jpg);

}
.blue{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.blue:hover{
  background-color: #004851;
}

.tile{
  text-align: center;
  color: white;
  height: 35vh;
  width:  100%;
  padding-top: 9vh;
  margin-bottom: 30px;
}

.imgtile a{
  text-decoration: none;
}

.tile h3 {
  font-size: 30px;
  margin-top: 5vh;
}
footer{
  background-color: black;
  width: 100%;
  height: 45px;
  padding-top: 12px;
  text-align: center;
}
footer p {
  color: rgb(190, 190, 190);
}
.panel-body{
    min-height: 76.8vh;
}

@media(max-width:767px)
{
  .navbar{
    border: 0px;
  }
  .navbar li{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size:18px;
    border-top: 1px solid white;
  }
  .navbar-right{
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    background-color: #BCE194;
  }

  .titelpage{
    font-size:20px;
    margin-left: 10px;


  }
  .container{
    margin-top: 80px;
  }
}
