@font-face {
font-family: MyWebfont;
src: url(../../public/font/SunAntwerpen_800.woff) format(”woff”);
}

@font-face {
font-family: MyWebfont;
src: url(../../public/font/SunAntwerpen_800.eot);
}

@font-face {
font-family: MyWebfont;
src: url("../../public/font/SunAntwerpen_800.svg#SunAntwerpen_800") format("svg");
}

.titelpage {
font-family: MyWebfont, Verdana, sans-serif;

}
.titelpage:hover{
  text-decoration: none;
  color: #BCE194;
}

.navbar{
  background-color:#CF0039; /* #DA291C; */
  border-radius: 0px;
  height: 100px;
}

.navbar img{
  height: 98px;
  padding-left: 5px;
  padding-right: 7px;
  border-right: 2px white solid;
}

.titelpage{
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  font-size:25px;
  margin-left: 20px;
  margin-top: 0px;
}
.navbar a, .navbar li {
  color:white;
}
.navbar li{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size:18px;
}
.navbar li:hover a{
  background-color:#CF0039;
  border-bottom: 2px solid white;
}
.navbar-right{
  margin-right: 30px;
}

.red{
  background-image: url(../../public/img/kaaien523d9eb14a7d9.jpg);
}
.red:hover{
  background-image: none;
  background-color: #DA291C;
}
.purple{
  background-image: url(../../public/img/mas.jpg);
}
.purple:hover{
  background-image: none;
  background-color: #840B55;
}
.orange{
  background-image: url(../../public/img/kathedraal.jpg);
}
.orange:hover{
  background-image: none;
  background-color: #F18A00;
}
.green{
  background-image: url(../../public/img/steen.jpg);
}
.green:hover{
  background-image: none;
  background-color: #4AA32C;
}
.blue{
  background-image: url(../../public/img/station.jpg);
}
.blue:hover{
  background-image: none;
  background-color: #004851;
}
.tile{
  text-align: center;
  color: white;
  height: 35vh;
  width:  100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10vh;
  margin-bottom: 30px;
}


@media(max-width:767px)
{
  .navbar{
    border: 0px;
  }
  .navbar li{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size:18px;
    border-top: 1px solid white;
  }
  .navbar-right{
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    background-color: #BCE194;
  }

  .titelpage{
    font-size:20px;
    margin-left: 10px;

  }
  .container{
    margin-top: 80px;
  }
  .tile{
    width: 100%;
  }
}
