@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.woff") format("woff");
}
@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.eot");
}
@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.svg") format("svg");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.woff") format("woff");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.eot");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.svg") format("svg");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.woff") format("woff");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.eot");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.svg") format("svg");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.woff") format("woff");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.eot");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.svg") format("svg");
}

.nav-tabs>li.active>a {
    background-color: #909090;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
.nav-tabs>li.active>a:hover {
    background-color: #909090;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .nav-tabs>li>a:hover {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

.titelpage , .thumbnail h4{
font-family: AntwerpREG, Verdana, sans-serif;

}

.navbar li a, .navbar li{
    font-family: sun500, Verdana, sans-serif;
}


.titelpage:hover{
  text-decoration: none;
}

.navbar{
  background-color:#CF0039; /* #DA291C; */
  border-radius: 0px;
  height: 100px;
}

.navbar img{
  height: 98px;
  padding-left: 5px;
  padding-right: 7px;
  border-right: 2px white solid;
}
#welcome{
  margin-top: 15px;
  margin-right: 20px;
}
.Profile_img{
  top:0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.09);
  float: left;
  background:#c03b44;
  margin-right: 38px;
  overflow:hidden;

}
.Profile_img img{

    width: 41px;
    margin:0;
  /*
  width: 28px;
  height: 28px;
  overflow:hidden;
  position: relative;
  left: 45%;
  top: 45%;
  margin-left: -12px;
  margin-top: -12px;*/
}
.comment_body{
  display: inline-block;
  width: 45vw;
}
.switch-toggle {
  margin-bottom: 20px;
  height: 50px;
}
.switch-toggle input:first-child{
  color: white;
  }
.titelpage{
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  font-size:25px;
  margin-left: 20px;
  margin-top: 0px;
}
.navbar a, .navbar li {
  color:white;
}
.navbar li{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size:18px;

}

.navbar li:hover a{
  background-color:#CF0039;
  border-bottom: 2px solid white;
}
.navbar-right{
  margin-right: 30px;

}
.projectnav li{
  width:20%;
  text-align: center;
}
.caption {
      width:100%;
      height: 100%;
      bottom: 0rem;
      position: absolute;
      background-color: rgba(85, 85, 85, 0.5);
  }
.captionlink:hover{
  text-decoration: none;
}
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index:10000;
  pointer-events: none;
}
.divbtn {
  width: 305px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  z-index:10000;
  display:none;
}
.edit {
display:block;
height:50px;
width: 79.5px;
background-image: url(/img/editSprite.png);
float:left;
}
.edit:hover {
background-image: url(/img/editSprite.png);
background-position: 79.5px 0;
}
.delete {
display:block;
height:50px;
width: 79.5px;
background-image: url(/img/deleteSprite.png);
float:right;
right:25px;
}
.delete:hover {
background-image: url(/img/deleteSprite.png);
background-position: 79.5px 0;

}
.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color:#8EBF45;
  /*
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  */
  color: #6a6340;
  /*
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  */
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid transparent;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
.fasetab {
<<<<<<< HEAD

<<<<<<< HEAD
border:1px solid black;
text-decoration:none;
color:black;
text-align:center;
margin-top:25px



=======
border:1px solid black;
text-decoration:none;
color:black;
text-align:center;
margin-top:25px
>>>>>>> upstream/master
=======
border:1px solid black;
text-decoration:none;
color:black;
text-align:center;
margin-top:25px

>>>>>>> upstream/master
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
    margin-bottom: 30px;

}
.thumbnail img{
  object-fit: cover;
  height: 35vh;
  width: 100%;
}
.thumbnail h4{
  padding-top: 12.5vh;
  color: white;
  font-size: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 32.5vh;

}

.allTiles{
  min-height: 83.1vh;
}
.ContentDiv{
    min-height: 78.9vh;
}
.ProjectFrom{
    min-height: 83.1vh;
}
.purple{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;

}
.purple:hover{
  background-image: none;
  background-color: #840B55;
   opacity: 0.9;
}

.red{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.red:hover{
  background-image: none;
  background-color: #DA291C;
   opacity: 0.9;

}
.orange{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.orange:hover{
  background-image: none;
  background-color: #F18A00;
   opacity: 0.9;
}
.green{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.green:hover{
  background-image: none;
  background-color: #4AA32C;
   opacity: 0.9;
}
.blue{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.blue:hover{
  background-color: #004851;
   opacity: 0.9;
}
.yellow{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.yellow:hover{
  background-color: #FFD200;
   opacity: 0.9;
}
.expand {
   transition: all .3s ease-in-out;
}

.expand:hover {
  transform: scale(1.05,1.05);
   -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
  height:auto;
   opacity: 0.9;
}
footer{
  background-color: black;
  width: 100%;
  height: 45px;
  padding-top: 12px;
  clear:both;
  position:relative
  margin-top:-45px;
}
footer p {
  color: rgb(190, 190, 190);
  text-align: center;
}
.centered-form{
  min-height: 83.1vh;
}
.iconnavbar {
display: block!important;
}
.inline{
  display: inline;
}
.CreatedMilestones{
 margin-bottom: 20px;
}
.deletepage{
  min-height: 83.1vh;
}

.CreatedMilestones button{
  margin-left: 20px;
  margin-bottom: 10px;
}

.CreatedMilestones button .fa.fa-btn{
  padding:5px;
  font-size: 20px;
}
.deleteTile,.EditTile,.CopyTile{
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 17px;
}
.deleteTile:hover,.EditTile:hover,.CopyTile:hover{
  text-decoration: none;
  color: white;
}
.deleteTile:hover > .fa-close{
  color: #81001F;
}
.EditTile:hover  > .editicon{
  color: #008C95;
}
.CopyTile:hover  > .fa-copy{
  color: #6CC24A;
}
.EditTile{
  bottom: 10px;
  right: 10px;
}
.CopyTile{
  left:10px;
}
.deleteTile{
  right: 10px;
}
.hidden{
  height: 0px;
}
#error p{
  text-align: left;
}
.btn-width{
  width: 220px;
}
.banner
{
   bottom:5px; left:5px;
   position:absolute;
   z-index:1;
   color:white;
}
.imgtile img{
    width: 100%;
}
.validationerror {
  color: darkred;
}

.ReactiePlaatsen{
  margin-left: 50px;
}
.reactieBody{
  margin-left: 100px;
}

@media(max-width:767px)
{
  .navbar-right{
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    padding-top: 35px;
  }

  #loginicon, #registericon, #logouticon{
    font-size: 20px;
    margin-right: 15px;

  }
  #logouticon{
    margin-right: 40px;
  }

  .titelpage{
    display: none;
    padding-top: 33px;
    position: absolute;
    vertical-align: center;
  }

}
/*
@media(max-width:500px)
{
  .titelpage{
    padding-top: 38px;
    font-size:1.5em;
  }
}
@media(max-width:440px)
{
  .titelpage{
    padding-top: 42px;
    font-size:1em;
  }
  .nav-tabs>li>a {
    font-size: 12px;
  }
}
@media(max-width:370px)
{
  .titelpage{
    padding-top:45px;
    font-size:0.8em;
  }
  .nav-tabs>li>a {
    font-size: 8px;
  }
}*/
