@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.woff") format("woff");
}
@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.eot");
}
@font-face {
font-family: sunCd;
src: url("../fonts/SunAntwerpenCd_700.svg") format("svg");
}
@font-face {
font-family: sun700;
src: url("../fonts/SunAntwerpen_700.woff") format("woff");
}
@font-face {
font-family: sun700;
src: url("../fonts/SunAntwerpen_700.eot");
}
@font-face {
font-family: sun700;
src: url("../fonts/SunAntwerpen_700.svg") format("svg");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.woff") format("woff");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.eot");
}
@font-face {
font-family: sun500;
src: url("../fonts/SunAntwerpen_500.svg") format("svg");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.woff") format("woff");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.eot");
}
@font-face {
font-family: AntwerpREG;
src: url("../fonts/Antwerpen-Regular.svg") format("svg");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.woff") format("woff");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.eot");
}
@font-face {
font-family: AntwerpTall;
src: url("../fonts/AntwerpenTall-Tall.svg") format("svg");
}
body{
  text-align: center;
  font-family: sun500;
  font-size: 15px;

}
html, body{
  height: 100%;
}
.ContentDiv{
    min-height: 100%;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: -25px;
}
.ContentDiv, footer {
  display: inline-block;
}
.nav-tabs>li.active>a {
    background-color: #909090;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
.nav-tabs>li.active>a:hover {
    background-color: #909090;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .nav-tabs>li>a:hover {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

.titelpage , .thumbnail h4, .titelpagemobile{
font-family: AntwerpREG, Verdana, sans-serif;

}

.navbar li a, .navbar li{
    font-family: sun700, Verdana, sans-serif;
}
.titelpage:hover{
  text-decoration: none;
}

.navbar{
  background-color:#CF0039; /* #DA291C; */
  border-radius: 0px;
  height: 100px;
  margin-bottom:0px;
  line-height:0;
}

.navbar img{
  height: 98px;
  padding-left: 5px;
  padding-right: 7px;
  border-right: 2px white solid;
}
#welcome{
  margin-top: 15px;
  margin-right: 20px;
}
.Profile_img{
  top:0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.09);
  float: left;
  background:#c03b44;
  margin-right: 38px;
  overflow:hidden;
}
.Profile_img img{
  border-radius: 50%;
  width: 42px;
  margin-left: -1px;
  margin-top: -1px;

}
#profielfoto
{
    width: 20%;
}

.adminwindow {
  padding: 5px 0 20px 0;
  margin-bottom: 20px;
  border: solid 1px black;
}
#adminpaneel {
  font-size: 1.1em;
  position: relative;
  top: 20px;
  margin-bottom: 75px;
}

.createtitle {
  margin-top:100px;
}
.returnlink {
  float: right;
  margin-top: 20px;
}

.returnlink a{
  padding-right: 7.5px;
  font-size: 1.1em;
}
.btndeletemilestone {
  margin-top:10px;
}

#noFases {
  margin-bottom: 50px;
}

#noOpinionQuestions {
  margin-top: 20px;
}

.noquestions {
  margin-top: 20px;
}

.milestonestable{
  padding: 15px !important;
}

.removeflash {
  margin-top: 20px;
}

.flashmessage {
  margin:20px 0 40px 0
}

.indexflashmessage {
  margin:-5px 0 40px 0
}

.loginform {
  margin-top: 50px;
}

#notimeline {
  margin-top: 175px;
  font-family: AntwerpREG;
}

.comment_body{
  float: left;
  text-align: left;
  width: 90%;
}

.switch-toggle {
  margin-bottom: 20px;
  height: 50px;
}
.OpninionQuestionFrom label{
margin-top: 50px;
}
table{

    table-layout: fixed;
    margin-top: 40px;
    width: 80%;
}
td{
    overflow: hidden;
}
td:first-child {


    width: 55%;
}
#addOpinionQuestion
{
  padding: 5px;
  width: 100%;
}

#btnAddOpinionQuestion
{
  margin-top: -30px;
  width: 100%;
}
.alert{
  width:100%;
  margin-left: 0;
}
.switch-toggle input:first-child{
  color: white;
  }
.titelpage, .titelpagemobile{
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  font-size:25px;
  margin-left: 20px;
  margin-top: 15px;
}
.navbar a, .navbar li {
  color:white;
}
.navbar li{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size:18px;

}

.navbar li:hover a{
  background-color: rgba(255, 255, 255, 0);
}
.registericon:hover, .loginicon:hover, .loginicon:hover, #account:hover{
    border-bottom: 2px solid white;
}
#account {
  display: inline;
}
.navbar-right{
  margin-right: 30px;

}
.projectnav li{
  width:20%;
  text-align: center;
  font-family: sun700;
  font-size: 18px;
}
.projectnav li a:hover{

  font-family: sun700;

}
 #navbar .active a{
      font-family: sun700;
}
#navbar #tijdlijn a{
     font-family: sun700;
}
.radio{
  display: inline-block;
}
.caption {
      width:100%;
      height: 100%;
      bottom: 0rem;
      position: absolute;
      background-color: rgba(85, 85, 85, 0.5);
  }
.captionlink:hover{
  text-decoration: none;
}

.divbtn {
  width: 305px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  z-index:10000;
  display:none;
}
tr:last-child{
  border-bottom: 1px solid rgba(169,169,169,0.5);
}
.edit {
display:block;
height:50px;
width: 79.5px;
background-image: url(/img/editSprite.png);
float:left;
}
.edit:hover {
background-image: url(/img/editSprite.png);
background-position: 79.5px 0;
}
.delete {
display:block;
height:50px;
width: 79.5px;
background-image: url(/img/deleteSprite.png);
float:right;
right:25px;
}
.delete:hover {
background-image: url(/img/deleteSprite.png);
background-position: 79.5px 0;

}
.fasetab {
border:1px solid black;
text-decoration:none;
color:black;
text-align:center;
margin-top:25px
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
    margin-bottom: 30px;

}
.thumbnail img{
  object-fit: cover;
  height: 35vh;
  width: 100%;
}
.thumbnail h4{
  padding-top: 12.5vh;
  color: white;
  font-size: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 32.5vh;

}

.allTiles{
  min-height: 83.1vh;
  margin-top: 40px;
}

.ProjectFrom{
    min-height: 83.1vh;
}
.purple{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;

}
.purple:hover{
  background-image: none;
  background-color: #840B55;
   opacity: 0.9;
}

.red{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.red:hover{
  background-image: none;
  background-color: #DA291C;
   opacity: 0.9;

}
.orange{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.orange:hover{
  background-image: none;
  background-color: #F18A00;
   opacity: 0.9;
}
.green{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.green:hover{
  background-image: none;
  background-color: #4AA32C;
   opacity: 0.9;
}
.blue{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.blue:hover{
  background-color: #004851;
   opacity: 0.9;
}
.yellow{
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color 0.5s ease;
}
.yellow:hover{
  background-color: #FFD200;
   opacity: 0.9;
}
.expand {
   transition: all .3s ease-in-out;
}

.expand:hover {
  transform: scale(1.05,1.05);
   -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
  height:auto;
   opacity: 0.9;
}
footer{
  background-color: black;
  width: 100%;
  height: 45px;
  padding-top: 12px;
  clear:both;
  position:relative;
}
footer p {
  color: rgb(190, 190, 190);
  text-align: center;
}
.centered-form{
  min-height: 83.1vh;
}
.iconnavbar {
display: block!important;
}
.inline{
  display: inline;
}
.CreatedMilestones{
 margin-bottom: 20px;
}
.deletepage{
  min-height: 83.1vh;
}

.CreatedMilestones button{
  margin-left: 20px;
  margin-bottom: 10px;
}

.CreatedMilestones button .fa.fa-btn{
  padding:5px;
  font-size: 20px;
}
.deleteTile,.EditTile,.CopyTile{
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 17px;
}
.deleteTile:hover,.EditTile:hover,.CopyTile:hover{
  text-decoration: none;
  color: white;
}
.deleteTile:hover > .fa-close{
  color: #81001F;
}
.EditTile:hover  > .editicon{
  color: #008C95;
}
.CopyTile:hover  > .fa-copy{
  color: #6CC24A;
}
.EditTile{
  bottom: 10px;
  right: 10px;
}
.CopyTile{
  left:10px;
}
.deleteTile{
  right: 10px;
}
.hidden{
  height: 0px;
}
#error p{
  text-align: left;
}
.btn-width{
  width: 220px;
}
.banner
{
   bottom:5px; left:5px;
   position:absolute;
   z-index:1;
   color:white;
}

.validationerror {
  color: darkred;
}

.ReactiePlaatsen{
  margin-left: 50px;
}
#leftfix{
  float:left!important;
}

.reactieBody{
  margin-left: 100px;
}
.titelpagemobile{
  display: none;
}


@media(max-width:767px)
{

  .navbar-right{
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    padding-top: 35px;
  }

  #loginicon, #registericon, #logouticon{
    font-size: 20px;
    margin-right: 15px;

  }
  #logouticon{
    margin-right: 40px;
  }

  .titelpage, .titelpagemobile{
    display: none;
    padding-top: 33px;
    position: absolute;
    vertical-align: center;
  }

  .titelpagemobile{
    display: inline-block;
    float: left;
    position: relative;
    margin-left: 6%;
  }
  .reactieimg{
    float: left;
    margin-left: 25%;
  }

}
@media (max-width: 1370px){
  .comment_body{
    width: 83%;
  }
}
@media (max-width: 682px){
  .comment_body{
    width: 100%;
  }
}